<div class="msg-container">
  <img src="https://cdn3.iconfinder.com/data/icons/emoticon-emoji/30/emoticon-sad-7-1024.png" alt="Sad Emoji">
  <h4>{{ msg }}</h4>
  <h3>{{ wrongUrl }}</h3>
</div>

<a href="/" type="button">Back</a>