<div class="msgContainer">
  <h3 id="hintHeader">{{ msg }}</h3>
  <h4>Wrong URL: <span style="color: blue">{{ wrongUrl }}</span></h4>
</div>

<a href=" /" type="button" class="btn btn-primary" id="backButton">Back</a>