{{#if code}}
<div class="form-group urlContainer">
  <h3>Success! Please use this link:</h3>
  <p id="urlGenerated" style="color: blue">{{host}}/{{code}}</p>
  <button class="btn btn-primary" id="copyButton" onclick="urlCopy()">Copy</button>
</div>
<script>
  function urlCopy() {
    const urlGenerated = document.getElementById("urlGenerated").innerText
    navigator.clipboard.writeText(urlGenerated)
      .then(() => alert("URL Copied!"))
      .catch(error => console.log(error))
  }
</script>
{{else}}
<form class="urlForm" action="/" method="POST">
  <div class="form-group">
    <input class="form-control" type="url" name="url" id="url" placeholder="Input URL here" required>
    <button class="btn btn-outline-primary" id="submitButton" type="submit">Shorten</button>
  </div>
</form>
{{/if}}